{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="page-inner">
    <h1>Bienvenidos a la practica sobre LinkedList y Arrays</h1>
    <p>En esta practica se implementa la Gestion de un Sistema de Censo, mediante el uso de archivos JSON. La finalidad de esta practica es la de comparar el rendimiento de las estructuras de datos LinkedList y Arrays.</p>
    <p>Para ello se ha implementado un sistema de Censo, en el cual se pueden realizar las siguientes operaciones:</p>
    <ul>
        <li>Registrar una Familia</li>
        <li>Registrar un Generador para cada Familia</li>
        <li>Eliminar una Familia y Generador</li>
        <li>Actualizar los datos de Familias y Generadores</li>
        <li>Ver todas las Familias registradas, Generadores, y el Censo con Familias que poseen un Generador</li>
    </ul>
    <a href="https://github.com/vinirmn007/Censo_Generadores" class="btn btn-black">GitHub</a>
</div>
{% endblock %}