{% extends 'base.html' %}

{% block title %}Generadores{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
      <div class="card-title">Generadores</div>
    </div>
    <div class="card-body">
      <form id="search-form" class="mb-4">
        <div class="row g-2 align-items-center">
            <div class="col-md-2">
                <label for="metodo" class="form-label">Método de Busqueda:</label>
                <select class="form-select" id="metodo-busq" name="metodo-busq">
                  <option value="binary">BinarySearch</option>  
                  <option value="lineal">LinealSearch</option>
                </select>
            </div>  

            <!-- Selector de atributo de búsqueda -->
            <div class="col-md-2">
                <label for="atributo" class="form-label">Buscar por:</label>
                <select class="form-select" id="atributo" name="atributo">
                    <option value="id">Id</option>
                    <option value="marca">Marca</option>
                    <option value="modelo">Modelo</option>
                    <option value="consumoPorHora">Consumo</option>
                    <option value="energiaGenerada">Energia Generada</option>
                    <option value="precio">Precio</option>
                    <option value="uso">Uso</option>
                </select>
            </div>

            <!-- Campo de valor de búsqueda -->
            <div class="col-md-6">
                <label for="valor" class="form-label">Valor de búsqueda:</label>
                <input type="text" class="form-control" id="valor" name="valor" rows="1" required></input>
            </div>

            <!-- Botón de buscar -->
            <div class="col-md-2 text-end">
                <label class="form-label d-block invisible">Buscar</label>
                <button type="submit" class="btn btn-primary w-100" id="btn-buscar">Buscar</button>
            </div>
        </div>
      </form>

      <!-- Formulario de ordenamiento -->
      <form id="ord-form" class="mb-4">
        <div class="row g-2 align-items-center">
            <!-- Selector de método de ordenamiento -->
            <div class="col-md-4">
              <label for="metodo" class="form-label">Método de Ordenamiento:</label>
              <select class="form-select" id="metodo-ord" name="metodo-ord">
                <option value="quicksort">QuickSort</option>
                <option value="shellsort">ShellSort</option>
                <option value="mergesort">MergeSort</option>
              </select>
            </div>  
          
            <!-- Selector de criterio de ordenamiento -->
            <div class="col-md-4">
                <label for="criterio" class="form-label">Ordenar por:</label>
                <select class="form-select" id="criterio" name="criterio">
                  <option value="id">Id</option>
                  <option value="marca">Marca</option>
                  <option value="modelo">Modelo</option>
                  <option value="consumoPorHora">Consumo</option>
                  <option value="energiaGenerada">Energia Generada</option>
                  <option value="precio">Precio</option>
                  <option value="uso">Uso</option>
                </select>
            </div>

            <!-- Botones de orden -->
            <div class="col-md-4 text-end">
                <label class="form-label d-block">Orden:</label>
                <button type="submit" class="btn btn-secondary me-2 orden-button" id="ascendente" data-orden="0">Ascendente</button>
                <button type="submit" class="btn btn-secondary orden-button" id="descendente" data-orden="1">Descendente</button>
            </div>
        </div>
      </form>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Consumo por Hora (Combustible)</th>
            <th scope="col">Energia Generada (M. Watts)</th>
            <th scope="col">Precio</th>
            <th scope="col">Uso</th>
            <th scope="col">Familia</th>
            <th scope="col">Modificar</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
            {% for generador in generadores %}
            <tr>
                <td>{{ generador.id }}</td>
                <td>{{ generador.marca }}</td>
                <td>{{ generador.modelo }}</td>
                <td>{{ generador.consumoPorHora }}</td>
                <td>{{ generador.energiaGenerada }}</td>
                <td>{{ generador.precio }}</td>
                <td>{{ generador.uso }}</td>
                <td>
                  {% for familia in familias %}
                    {% if familia.id == generador.familiaId %}
                      {{ familia.apellido }}
                    {% endif %}
                  {% endfor %}
                </td>
                <td><a class="btn btn-black" href="/censo/generadores/edit/{{ generador.id }}">Modificar</a></td>
                <td>
                  <form action="/censo/generadores/delete" method="POST">
                    <input type="hidden" value="{{generador.id}}" name="id">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                  </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script>
    $(document).ready(function() {
        var orden;

        $('.orden-button').on('click', function() {
          orden = $(this).data('orden');
        });

        $('#ord-form').on('submit', function(event) {
            event.preventDefault();
            var metodo_o = $('#metodo-ord').val();
            var criterio = $('#criterio').val();

            var url = `/censo/generadores/order/${metodo_o}/${criterio}/${orden}`;
            console.log(url);

            if (metodo_o && criterio && orden !== undefined) { 
              window.location.href = url; 
            } 
        });

        $('#search-form').on('submit', function(event) {
            event.preventDefault();
            var metodo_b = $('#metodo-busq').val();
            var atributo = $('#atributo').val();
            var type = "1";
            var valor = $('#valor').val();

            var url = `/censo/generadores/search/${metodo_b}/${atributo}/${type}/${valor}`;
            console.log(url);

            if (metodo_b && atributo && type && valor !== undefined) { 
              window.location.href = url; 
            } 
        });
    });
</script>
{% endblock %}