{% extends 'base.html' %}

{% block title %}Historial{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
      <div class="card-title">Historial</div>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Operacion</th>
            <th scope="col">Detalle</th>
            <th scope="col">Hora</th>
          </tr>
        </thead>
        <tbody>
          {% for item in historial %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.operacion }}</td>
                <td>{{ item.detalle }}</td>
                <td>{{ item.hora }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
</div>
{% endblock %}